body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
	
}

img {
	max-width: 300px;
	border-radius: 20px;
}

ul{
	list-style-type: circle; ;
}
p{
	font-size: 25px;


}
.favorite-btn {
	background-color: rgb(240, 240, 100);
	width: 140px;
	height: 40px;
	font-size: 15px;
	border-radius: 10px;

	
}
